body {
    background: #A587D6;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background: #C39FFC;
}

.assignment img {
    width:200px;
    border: 2px solid black;
    margin-right: 20px;
}

h1 {
    color: #4C3070;
    text-align: center;
}

a {
    text-decoration: none;
    color: #6E33B3;
}