.text {
    width: 80%;
    font-size: 150%;
    color: black;
    margin: 10px;
    margin-left: 10%;
}

.img {
    max-width: 60%;
    max-height: 200px;
    border: 2px solid black;
    margin-left: 10%;
    border-radius: 5px;
    display: block;
}

.table {
    margin-left: 10%;
    margin-top: 10px;
    border-collapse: collapse;
    border: 1px solid black;
}

.table td {
    border: 1px solid black;
    padding: 5px;
    white-space: nowrap;
    width: 80%;
    font-size: 150%;
    color: black;
    margin: 10px;
    margin-left: 10%;
}